.Image {
    display: block;
    width: 100%;
    margin: 16px auto;
    padding: 16px;
    text-align: center;
    overflow: hidden;
}

@media (min-width: 500px) {
    .Image {
        width: 100%;
    }
}